$brand-color-primary: #F2E4DD;
$brand-color-primary_dark: #A69186;
$brand-color-lime: #E0FBD8;
$brand-color-purple: #9B9BBF;
$brand-color-purple_dark: #8F8FA6;

$bg-default: #fef8f5;
$bg-clear: none;

$color-dark: #907D7E;
$color-heading: #a9253d;
$color-bright: #B82741;