$brand-color-primary: #F2E4DD;
$brand-color-primary_dark: #A69186;
$brand-color-lime: #E0FBD8;
$brand-color-purple: #9B9BBF;
$brand-color-purple_dark: #8F8FA6;


$bg-default: #fafafa;
$bg-card: #fafafa;
$bg-rose: #f8f0ec;
$bg-gold: #fff3c8;
$bg-clear: none;
$bg-footer: #522229;

$color-dark: #907D7E;
$color-heading: #a9253d;
$color-bright: #B82741;
$color-mustard: #d5b359;
$color-hyper-glow: #f85828;
$color-input-border: #d3c1c1e8;
$color-card-shadow: rgba(222, 175, 3, 0.07);